gdal
pandas
geopandas
folium
matplotlib
mapclassify
openpyxl
dask
plotly
xarray
rioxarray
pystac-client
odc-stac
openeo
copernicusmarine
earthengine-api
ipykernel
jupyterlab
ipywidgets
jupyter-ai
distro
